<html lang="tr">

<%- include('partials/_header') -%>

<body>
	
	<%- include('partials/_nav') -%>
	<div class="container">
		<br><br><br>
		<div class="card">
			<h5 class="card-header">HOŞGELDİN!</h5>
			<div class="card-body">
				<h5 class="card-title">Film, dizi ve Kitap Okuma Listesi</h5>
				<p class="card-text">Size bu uygulamayla birlikte kolay listelemenizde yardımcı oluyoruz.</p>
				<a href="https://github.com/31000s" class="btn btn-primary">Daha Fazlası İçin</a>
			</div>
		</div>
	</div>
	<br><br><br><br><br><br>
	<br><br>
	<%- include('partials/_footer') -%>
	</body>

</html>